body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#gfgOutput, #leetCodeOutput {
    width: 48%;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#gfgOutput {
    background-color: #f9f9f9;
}

#leetCodeOutput {
    background-color: #eef9f3;
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input-container input {
    margin: 0 10px;
    padding: 5px;
    font-size: 14px;
}
